html, body {
    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    /* overflow-y: auto; Allow vertical scrolling */
}

body {
    font-family: 'Arial, sans-serif';
    /* background-color: #ffffff; */
    background-color: rgba( 233, 231,223, 1); 
    /* background-color: rgba(237, 233, 216, 1);  */
    /* background-color: rgba(232,231,227,1);  */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.invitation {
    /* background: #fff; */
    padding: 20px;
    max-width: 500px;
    text-align: center;
    margin: 20px;
    box-sizing: border-box; /* Include padding in width/height */
}

.invitation h1 {
    font-family: "Reenie Beanie", cursive;
    font-weight: 800;
    font-style: italic;
    font-size: 5em;
    margin-top : 5px
}

.and {
    font-style: italic;
    color: #77ab59;
}

.invitation h3 {
    font-family: "Marck Script", cursive;
    font-size: 1em;
    font-weight: 400;
    color: #5f5f5f;
    margin-top: -45px;
    /* font-size: medium; */
}

.invitation h2 {
    font-family: "Marck Script", cursive;
    font-size: 1.2em;
    font-weight: 600;
    color: #4d4d4d;
    /* font-size: large; */
}

.countdown {
    font-family: "Zen Maru Gothic", serif;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.countdown-box {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 0 5px;
    text-align: center;
}

.number {
    font-family: "Zen Maru Gothic", serif;
    display: block;
    font-weight: 700;
    font-size: 1.5em;
    font-style: italic;
}

.label {
    font-weight: 200;
    display: block;
    font-size: 0.78em;
    color: #555;
}

.wedding-image {
    margin-top: -70px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

#calendar-links {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 10px;
    /* background-color: #77ab59; */
    background-color: rgb(218, 208, 191);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Zen Maru Gothic", serif;
}

#calendar-links img {
    color: #fff;
    padding-right: 5px;
    max-width: 15px;
    height: auto;
}

#calendar-links a {
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
}

#calendar-links:hover {
    background-color: #5a8f47;
}

.venueDetailsMain{
    margin-top: 100px;
    margin-bottom: 200px;
}


.venueDetailsMain {
    margin-top: 50px;
    margin-bottom: 100px;
}

.venueDetailsMain h2 {
    font-family: "Reenie Beanie", cursive;
    font-style: italic;
    font-weight: 500;
    font-size: 2.5em;
    color: #4e4e4e;
    margin-bottom: 0;
}

.venueDetailsMain .subMenue {
    font-family: "Marck Script", cursive;
    color: rgb(75, 75, 75);
}

.venueDetailsMain .venue-details {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.venueDetailsMain .venue-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.venueDetailsMain .venue-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.venueDetailsMain .venue-column h3 {
    font-family: "Marck Script", cursive;
    font-size: 1.2em;
    font-weight: 600;
    color: #3a3a3a;
    text-align: center;
    margin: 0;
}

.venueDetailsMain .venue-column p {
    font-family: "Zen Maru Gothic", serif;
    font-size: 0.9em;
    color: #555;
    text-align: center;
    margin: 5px 0;
}

.venueDetailsMain .venue-column .location {
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
}

.venueDetailsMain .venue-column .location a{
    font-family: "Marck Script", cursive;
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-style: italic;
}

.lastP {
    margin-top: 50px;
    font-family: "Zen Maru Gothic", serif;
    text-decoration: none;
    color: rgba(48, 48, 46, 0.895);;
}

.footer{
    font-family: sans-serif;
    font-size: 10px;
    color: rgba(94, 94, 94, 0.694);
    padding-bottom: 20px;
}
.footer p{
    margin : 0;
    padding-bottom: 5px;
}
